body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  margin: auto;
  display: flex;
  height: 10vh;
  width: 80vw;
  justify-content: center;
}

#display {
  width: 70vw;
  height: 80vh;
  background: grey;
}
