body {
  background-color: rgb(67, 150, 233);
  height: 100vh;
  width: 100vw;
  min-width: 1000px;
}

table {
  margin: 10vh auto;
  height: 60vh;
  width: 45vw;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.35);
  box-shadow: 0px 4px 7px 0px rgba(50, 50, 50, 0.35);
}

/* thead */
table thead tr {
  font-weight: normal;
  text-align: left;
  background-color: black;
  color: rgb(158, 167, 175);
  border-bottom: 0.3vw solid rgb(158, 167, 175);
  font-size: x-large;
}

th {
  padding-left: 1.5vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  font-weight: normal;
}

table tr th:nth-child(1) {
  border-right: 0.1vw solid rgb(158, 167, 175);
}

/* tbody */

table tr td:nth-child(1) {
  border-right: 0.1vw solid rgb(158, 167, 175);
}

[data-currency='dollar']:before {
  content: '$ ';
}

table tbody tr {
  border-top: 0.1vh solid rgb(158, 167, 175);
  color: rgb(102, 107, 132);
  font-size: large;
}

table tbody tr:nth-child(odd) {
  background-color: rgb(235, 235, 235);
}

table tbody tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}
td {
  padding-left: 1.5vw;
}

/* border radius */

thead tr :first-child {
  border-radius: 5px 0 0 0;
}
thead tr :last-child {
  border-radius: 0 5px 0 0;
}

tbody tr:nth-child(5) td:first-child {
  border-radius: 0 0 0 5px;
}

tbody tr:nth-child(5) td:last-child {
  border-radius: 0 0 5px 0;
}
