* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0.25turn, rgb(170, 170, 170), rgb(243, 243, 242), rgb(170, 170, 170));
}

#wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* main-picture area */

#viewer {
  height: 45%;
  width: 80%;
  background: grey;
  box-shadow: 2px 5px 5px 2px rgba(153, 153, 153, 0.9);
  display: flex;
}

#navigation {
  height: 100%;
  width: 5%;
  background: white;
}

#picture {
  width: 90%;
}

.picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.discription {
  width: 20%;
  height: 20%;
}

#thumbnails {
  height: 10%;
  width: 40%;
  background-color: black;
  position: absolute;
  bottom: 16%;
  display: flex;
}
