* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0.25turn, rgb(170, 170, 170), rgb(243, 243, 242), rgb(170, 170, 170));
}

#wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* main-picture area */

#viewer {
  height: 45%;
  width: 80%;
  background: grey;
  box-shadow: 2px 5px 5px 2px rgba(153, 153, 153, 0.9);
  display: flex;
}

#navigation {
  height: 100%;
  width: 5%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowright {
  transform: rotate(180deg);
}

#picture {
  width: 90%;
  position: relative;
}

.picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.discription {
  width: 100%;
  height: 30%;
  bottom: 0%;
  position: absolute;
  background: black;
  opacity: 0.8;
}

.discription h2 {
  color: white;
  margin: 1%;
  position: absolute;
}

.discription p {
  color: rgb(124, 123, 122);
  margin: 1%;
  position: absolute;
  bottom: 10%;
}

#thumbnails {
  height: 10%;
  width: 50%;
  position: absolute;
  margin: 0 auto;
  bottom: 16%;
  display: flex;
}

#thumbnails img {
  width: 9%;
  margin: 1%;
  border: 0.3rem solid white;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0px 6px 7px 0px rgba(50, 50, 50, 0.91);
}
