body{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

ul{
  display: flex;
  flex-direction: column;
}

li{
  padding: 10px;
}